.login-container{
    min-height: calc(100vh - 90px);

    display:flex;
    justify-content:center;
    align-items:center;

    background:#f5f5f5;
    padding:40px;
}

.login-card{
    width:450px;

    background:white;
    padding:40px;

    border-radius:20px;

    box-shadow:0px 8px 25px rgba(0,0,0,0.1);

    text-align:center;
}

.login-card h1{
    font-size:35px;
    margin-bottom:10px;
    color:#000;
}

.login-card p{
    color:#666;
    margin-bottom:30px;
}

.login-form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.login-form input{
    height:55px;

    border:none;
    outline:none;

    padding:0 20px;

    border-radius:12px;

    background:#f2f2f2;

    font-size:16px;

    transition:.3s;
}

.login-form input:focus{
    border:2px solid #089616;
}

.login-form button{
    margin-top:10px;

    height:55px;

    border:none;

    border-radius:12px;

    background:#089616;

    color:white;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.login-form button:hover{
    background:#066b10;
}

.cadastro-link{
    margin-top:20px;
}

.cadastro-link p{
    color:#666;
    font-size:15px;
}

.cadastro-link a{
    color:#089616;
    text-decoration:none;
    font-weight:bold;
    margin-left:5px;
}

.cadastro-link a:hover{
    text-decoration:underline;
}